@media (min-width: 1440px) {

}
@media (max-width: 1440px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 991px) {

}
@media only screen and (max-width: 768px) {
    .re-nav-contact span {
        display: none;
    }
    .sm-hide {
        display: none;
    }
    .re-logo img {
        height: 2.125rem;
    }
    .re-language-dropdown {
        font-size: 0.8rem;
    }
    .re-mob-nav {
        display: flex;
    }
    .re-dropdown-menu .dropdown-item {
        font-size: 0.7rem;
    }
    section {
        margin-bottom: 2rem;
    }
    .re-section-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .re-content-desc {
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .re-content-rector .re-btn-dark {
        margin-bottom: 2rem;
    }
    .re-advantages-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .re-item-inner {
        padding: 0.5rem;
    }
    .re-item-icon {
        width: 4rem;
        height: 4rem;
        margin: 0.8rem auto;
    }
    .re-item-icon svg {
        width: 2rem;
        height: 2rem;
    }
    .re-section-advantages {
        padding: 2rem 0;
    }
    .re-item-text {
        line-height: 1.2rem;
        height: 5rem;
        font-size: 0.9rem;
    }
    .re-advantages-item {
        padding: 0rem 1rem;
    }
}