@media (min-width: 1440px) {
    .re-sm-contact-map {
        display: none;
    }
}
@media (max-width: 1440px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 991px) {

}
@media only screen and (max-width: 768px) {
    .re-nav-contact span {
        display: none;
    }
    .sm-hide {
        display: none;
    }
    .re-logo img {
        height: 2.125rem;
    }
    .re-language-dropdown {
        font-size: 0.8rem;
    }
    .re-mob-nav {
        display: flex;
    }
    .re-dropdown-menu .dropdown-item {
        font-size: 0.7rem;
    }
    section {
        margin-bottom: 2rem;
    }
    .re-section-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .re-content-desc {
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .re-content-rector .re-btn-dark {
        margin-bottom: 2rem;
    }
    .re-advantages-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .re-item-inner {
        padding: 0.5rem;
    }
    .re-item-icon {
        width: 4rem;
        height: 4rem;
        margin: 0.8rem auto;
    }
    .re-item-icon svg {
        width: 2rem;
        height: 2rem;
    }
    .re-section-advantages {
        padding: 2rem 0;
        margin-bottom: 0;
    }
    .re-item-text {
        line-height: 1.2rem;
        height: 5rem;
        font-size: 0.9rem;
    }
    .re-advantages-item {
        padding: 0rem 1rem;
    }
    .re-section-rector-two .re-content-rector .re-btn-dark {
        margin-bottom: 0;
    }
    .re-contact-row {
        padding: 1.5rem 0;
        height: 100%;
    }
    .re-contact-inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0px;
    }
    .re-form-group .form-label {
        font-size: 0.75rem;
        line-height: 1.25rem;
    }
    .re-sm-contact-map {
        margin-bottom: 1rem;
    } 
    .re-contact-map {
        padding: 1rem;
    }
    .re-full-right-half {
        display: none;
    }
    .re-section-statistics {
        height: 415px;
        margin-top: 2rem;
    }
    .re-statistics-list {
        flex-wrap: wrap;
    }
    .re-statistics-item {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 2.5rem;
    }
    .re-statistics-item:nth-last-child(2),
    .re-statistics-item:nth-last-child(1) {
        margin-bottom: 0;
    }
    .re-statistics-item img {
        height: 25px;
    }
    .re-statistics-info h1 {
        font-size: 1.2rem;
        line-height: 0.8rem;
        margin-bottom: 0.5rem;
    }
    .re-statistics-item span {
        font-size: 1rem;
        line-height: 1rem;
    }
    .re-footer-container {
        flex-direction: column;
        padding: 3.125rem 0;
    }
    .re-footer-group {
        margin-bottom: 3.125rem;
    }
    .re-footer-logo-wrp {
        margin-bottom: 1.875rem;
        width: 100px;
        height: 100px;
    }
    .re-footer-logo {
        height: 4.125rem;
    }
    .re-footer-group .re-footer-label,
    .re-footer-group .nav-item {
        text-align: start;
    }
    .re-footer-socials {
        justify-content: start;
    }
    .re-footer-socials a {
        margin-right: 1rem;
    }
    .re-footer-group-right {
        text-align: start;
    }
    .re-footer-ic-sm {
        display: flex !important;
        margin-left: 0 !important;
        margin-right: 1rem !important;
    }
    .re-footer-info .re-footer-ic {
        display: none;
    }
    .re-footer-info {
        justify-content: start;
    }
    .re-footer-bottom {
        flex-direction: column;
        text-align: center;
    }
    .re-footer-desc {
        width: 100%;
    }
    .re-advantages-list {
        margin-left: 0;
        margin-right: 0;
    }
    .re-university-name {
        font-size: 2rem;
    }
    .re-sidebar {
        margin-top: 2rem;
    }
    .re-content-img-wrp {
        padding: 20px;
    }
    .re-section-video .re-btn-light {
        width: 6rem;
        height: 6rem;
        font-size: 1rem;
    }
    .re-doc-item {
        margin-right: 5px;
    }
    .re-doc-item:last-child {
        margin-bottom: 0;
    }
    .re-navbar-center {
        width: 13%;
        height: 50px;
    }
    .re-breadcrumb {
        padding: 1rem 0;
    }
}