:root {
  --main-color: #631463;
  --active-color: #7C3B7C;
  --text-dark: #000000;
  --text-white: #FFFFFF;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: var(--text-dark);
  background-color: #FFFFFF;
  position: relative;
}
a {
  transition: all 300ms;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
button {
  transition: all 300s;
}
.re-btn-light {
  background-color: var(--text-white);
  color: var(--main-color);
  width: 13.75rem;
  height: 3.125rem;
  border-radius: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.re-btn-light:hover {
  background-color: #F0F0F0;
}
.re-btn-dark {
  background-color: var(--main-color);
  color: var(--text-white);
  width: 13.75rem;
  height: 3.125rem;
  border-radius: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.re-btn-dark:hover {
  background-color: var(--active-color);
  color: var(--text-white);
}
/* Navbar */
.re-nav-contact {
  display: flex;
  align-items: center;
}
.re-nav-contact img {
  height: 1.4rem;
  width: 1.4rem;
}
.re-nav-contact .re-contact-phone {
  color: var(--text-dark);
  font-size: 0.8rem;
  margin: auto;
}
.re-nav-contact .re-contact-phone:hover {
  color: var(--main-color);
}
.re-language-dropdown {
  border: none;
  padding: 0 !important;
}
.re-dropdown-menu {
  padding: 0;
  border: 1px solid #182d49;
  border-radius: 0;
  min-width: unset;
  left: inherit !important;
  right: 0 !important;
  position: absolute;
  z-index: 999;
}
.re-dropdown-menu .dropdown-item.active {
  color: var(--active-color);
}
.re-dropdown-menu .dropdown-item {
  color: var(--text-dark);
  border-bottom: 1px solid var(--main-color);
  padding: 0.5rem 0.5rem;
}
.re-dropdown-menu:last-child {
  border-bottom: none;
}
/* Header */
.re-header {
  background-color: var(--main-color);
  padding: 0.75rem 0;
  transition: 0.3s ease all;
}
.re-navbar-right .navbar-nav {
  justify-content: end;
}
.re-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.re-navbar-left, .re-navbar-right {
  width: 40%;
}
.re-navbar-center {
  width: 20%;
  text-align: center;
}
.re-logo {
  padding: 0;
  margin: 0;
}
.re-logo img {
  height: 3.875rem;
  transition: all 0.3s;
}
.re-navbar .navbar-icons .nav-item {
  margin-left: 2.5rem;
}
.re-mob-nav {
  display: none;
}
.re-hamburger {
  background-color: var(--active-color);
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* video section */
.re-section-video video {
  width: 100%;
}
section {
  margin-bottom: 6rem;
}
/* rector secrion */
.re-section-title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.re-content-desc {
  line-height: 2.2rem;
  margin-bottom: 2.5rem;
}
.re-content-rector-name {
  margin-bottom: 1rem;
}
.re-content-position {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}
/*  */
.re-section-advantages {
  background-color: #F8F8F8;
  padding: 6rem 0;
  margin-bottom: 0;
}
.re-advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.re-advantages-item {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 1rem;
}
.re-item-inner {
  padding: 1rem;
  border-radius: 20px;
}
.re-item-inner:hover {
  box-shadow: 20px 20px 50px grey;
  transition: .5s ease;
}
.re-item-icon {
  background-color: var(--main-color);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}
.re-item-text {
  text-align: center;
  line-height: 2rem;
  height: 8rem;
  overflow: hidden;
}
/*  */
.re-section-rector-two .re-content-img {
  margin-bottom: 2rem;
}
/* Contact section */
.re-section-contact {
  background-color: #F8F8F8;
}
.re-form-group {
  margin-bottom: 1.5rem;
}
.re-form-group .form-label {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.form-control:focus {
  border-color: var(--active-color);
}
.re-full-right-half {
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  height: 100%;
}
.re-contact-row {
  position: relative;
  overflow: hidden;
  height: 30rem;
  display: flex;
  align-items: center;
}
.re-contact-row .re-section-title {
  margin-bottom: 1.5rem;
}
.re-contact-inner {
  padding-right: 8rem;
}
.re-contact-inner .form-control {
  border-radius: 0.5rem;
  background-color: var(--text-white);
  height: 2.5rem;
}
.re-contact-inner label span {
  color: #E73127;
}
.form-control:focus {
  box-shadow: none;
}
/* Statistics section */
.re-section-statistics {
  position: relative;
  width: 100%;
  height: 360px;
  background: url(../img/university_bg.webp) center/cover no-repeat;
  display: flex;
  align-items: center;
}
.re-section-statistics::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 1;
}
.re-section-statistics > * {
  position: relative;
  z-index: 2;
}
.re-statistics-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.re-statistics-item {
  text-align: center;
}
.re-statistics-item img {
  width: auto;
  height: 55px;
  max-width: 64px;
}
.re-statistics-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.re-statistics-info h1 {
  font-size: 3.2rem;
  line-height: 3rem;
  color: var(--text-white);
  margin: 1rem 0;
}
.re-statistics-item span {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--text-white);
}
/* partners section */
.re-partners-slider .slick-arrow {
  top: 40%;
  transform: translateY(-50%);
  z-index: 9;
  position: absolute;
  border: 0;
  transition: all 300ms;
  background-color: var(--main-color);
  border-radius: 3.125rem;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.re-partners-slider .slick-next {
  right: -1rem;
}

.re-partners-slider .slick-prev {
  left: -1rem;
}
.re-partners-slider {
  margin-top: 10vh;
}

.re-partners-slider .re-partner-item {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  position: relative;
  margin-bottom: 1rem;
}
.re-partner-item::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.re-partner-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
}
.re-partner-title {
  font-size: 0.7rem;
  line-height: 1rem;
  font-weight: 400;
  text-align: center;
  height: 48px;
  overflow: hidden;
}

.re-partner-brand-item-wrapper {
  padding: 0.625rem;
}
/* footer */
footer {
  background-color: var(--main-color);
}
.re-footer-container {
  padding: 5rem 0;
  border-bottom: 1px solid var(--text-white);
  display: flex;
  justify-content: space-between;
}
.re-footer-logo {
  margin-bottom: 2.5rem;
  height: 6.125rem;
  width: auto;
}
.re-footer-info {
  display: flex;
  align-items: center;
  color: var(--text-white);
  margin-bottom: 1.875rem;
}
.re-footer-ic {
  border-radius: 50%;
  border: 1px solid var(--text-white);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.re-footer-socials {
  display: flex;
  justify-content: space-between;
}
footer .re-footer-label {
  font-size: 1.125rem;
  color: var(--text-white);
}
footer .re-phone,
footer .re-email {
  margin-bottom: 1.875rem;
}
footer .re-phone a {
  font-size: 1.875rem;
  color: var(--text-white);
  font-weight: 500;
}
footer .re-email a {
  font-size: 1.3rem;
  color: var(--text-white);
}
.re-footer-group .re-footer-label {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  text-align: center;
}
.re-footer-group .nav-item {
  color: var(--text-white);
  margin-bottom: 0.8rem;
  text-align: center;
}
.re-footer-group-right {
  text-align: end;
}
.re-footer-desc {
  width: 25rem;
  color: var(--text-white);
  font-size: 0.9rem;
}
.re-footer-info .re-footer-ic {
  margin-right: 0;
  margin-left: 1.25rem;
}
.re-footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-white);
  padding: 1.375rem 0;
}
.re-footer-developer a {
  color: var(--text-white);
}
.re-footer-ic-sm {
  display: none;
}