:root {
  --main-color:#05913a;
  --active-color: #25d569;
  --text-dark: #000000;
  --text-white: #FFFFFF;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: var(--text-dark);
  background-color: #FFFFFF;
  position: relative;
}
a {
  transition: all 300ms;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
button {
  transition: all 300s;
}
.re-btn-light {
  background-color: var(--text-white);
  color: var(--main-color);
  width: 13.75rem;
  height: 3.125rem;
  border-radius: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.re-btn-light:hover {
  background-color: #F0F0F0;
}
.re-btn-dark {
  background-color: var(--main-color);
  color: var(--text-white);
  width: 13.75rem;
  height: 3.125rem;
  border-radius: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.re-btn-dark:hover {
  background-color: var(--active-color);
  color: var(--text-white);
}
/* Navbar */
.re-nav-contact {
  display: flex;
  align-items: center;
}
.re-nav-contact img {
  height: 1.4rem;
  width: 1.4rem;
}
.re-nav-contact .re-contact-phone {
  color: var(--text-dark);
  font-size: 0.8rem;
  margin: auto;
  margin-right: 8px;
}
.re-nav-contact .re-contact-phone:hover {
  color: var(--main-color);
}
.re-language-dropdown {
  border: none;
  padding: 0 !important;
}
.re-dropdown-menu {
  padding: 0;
  border: 1px solid #182d49;
  border-radius: 0;
  min-width: unset;
  left: inherit !important;
  right: 0 !important;
  position: absolute;
  z-index: 999;
}
.re-dropdown-menu .dropdown-item.active {
  color: var(--active-color);
}
.re-dropdown-menu .dropdown-item {
  color: var(--text-dark);
  border-bottom: 1px solid var(--main-color);
  padding: 0.5rem 0.5rem;
}
.re-dropdown-menu:last-child {
  border-bottom: none;
}
/* Header */
.re-header {
  background-color: var(--main-color);
  padding: 0.75rem 0;
  transition: 0.3s ease all;
  position: sticky;
  top: 0;
  z-index: 99;
}
.re-navbar-right .navbar-nav {
  justify-content: end;
}
.re-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.re-navbar-left, .re-navbar-right {
  width: 45%;
}
.re-navbar-center {
  width: 8%;
  height: 85px;
  background-color: var(--text-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.re-logo {
  padding: 0;
  margin: 0;
}
.re-logo img {
  height: 3.875rem;
  transition: all 0.3s;
}
.re-navbar .navbar-icons .nav-item {
  margin-left: 2.5rem;
}
.re-mob-nav {
  display: none;
}
.re-hamburger {
  background-color: var(--active-color);
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* video section */
.re-section-video {
  position: relative;
}
.re-section-video video {
  width: 100%;
  display: block;
  opacity: 1;
}
.re-section-video .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}
.re-section-video .re-btn-light {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  font-size: 2rem;
	background: var(--main-color);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: var(--text-white);
	-webkit-animation: cc-calto-action-ripple 0.6s linear infinite;
	animation: cc-calto-action-ripple 0.6s linear infinite;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none; 
}
@-webkit-keyframes re-btn-register {
  0% {
    -webkit-box-shadow: 0 4px 10px rgba(5, 145, 58, 0.2), 0 0 0 0 rgba(5, 145, 58, 0.2), 0 0 0 5px rgba(5, 145, 58, 0.2), 0 0 0 10px rgba(5, 145, 58, 0.2);
    box-shadow: 0 4px 10px rgba(5, 145, 58, 0.2), 0 0 0 0 rgba(5, 145, 58, 0.2), 0 0 0 5px rgba(5, 145, 58, 0.2), 0 0 0 10px rgba(5, 145, 58, 0.2); 
  }
  100% {
    -webkit-box-shadow: 0 4px 10px rgba(5, 145, 58, 0.2), 0 0 0 5px rgba(5, 145, 58, 0.2), 0 0 0 10px rgba(5, 145, 58, 0.2), 0 0 0 20px rgba(5, 145, 58, 0);
    box-shadow: 0 4px 10px rgba(5, 145, 58, 0.2), 0 0 0 5px rgba(5, 145, 58, 0.2), 0 0 0 10px rgba(5, 145, 58, 0.2), 0 0 0 20px rgba(5, 145, 58, 0); 
  } 
}
@keyframes cc-calto-action-ripple {
  0% {
    -webkit-box-shadow: 0 4px 10px rgba(5, 145, 58, 0.2), 0 0 0 0 rgba(5, 145, 58, 0.2), 0 0 0 5px rgba(5, 145, 58, 0.2), 0 0 0 10px rgba(5, 145, 58, 0.2);
    box-shadow: 0 4px 10px rgba(5, 145, 58, 0.2), 0 0 0 0 rgba(5, 145, 58, 0.2), 0 0 0 5px rgba(5, 145, 58, 0.2), 0 0 0 10px rgba(5, 145, 58, 0.2); 
  }
  100% {
    -webkit-box-shadow: 0 4px 10px rgba(5, 145, 58, 0.2), 0 0 0 5px rgba(5, 145, 58, 0.2), 0 0 0 10px rgba(5, 145, 58, 0.2), 0 0 0 20px rgba(5, 145, 58, 0);
    box-shadow: 0 4px 10px rgba(5, 145, 58, 0.2), 0 0 0 5px rgba(5, 145, 58, 0.2), 0 0 0 10px rgba(5, 145, 58, 0.2), 0 0 0 20px rgba(5, 145, 58, 0); 
  } 
}
section {
  margin-bottom: 6rem;
}
/* rector secrion */
.re-section-title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.re-content {
  position: sticky;
  top: 120px;
}
.re-content-desc {
  line-height: 2.2rem;
  margin-bottom: 2.5rem;
}
.re-content-rector-name {
  margin-bottom: 1rem;
}
.re-content-position {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}
/*  */
.re-section-advantages {
  background-color: #F8F8F8;
  padding: 6rem 0;
  margin-bottom: 0;
}
.re-advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.re-advantages-item {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 1rem;
}
.re-item-inner {
  padding: 1rem;
  border-radius: 20px;
}
.re-item-inner:hover {
  box-shadow: 20px 20px 50px grey;
  transition: .5s ease;
}
.re-item-icon {
  background-color: var(--main-color);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}
.re-item-text {
  text-align: center;
  line-height: 2rem;
  height: 6.2rem;
  overflow: hidden;
}
/*  */
.re-section-rector-two .re-content-rec-img {
  margin-bottom: 2rem;
}
.re-content-rec-img img {
  height: 570px;
}
/* Contact section */
.re-section-contact {
  background-color: #F8F8F8;
}
.re-form-group {
  margin-bottom: 1.5rem;
}
.re-form-group .form-label {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.form-control:focus {
  border-color: var(--active-color);
}
.re-full-right-half {
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  height: 100%;
}
.re-contact-row {
  position: relative;
  overflow: hidden;
  height: 30rem;
  display: flex;
  align-items: center;
}
.re-contact-row .re-section-title {
  margin-bottom: 1.5rem;
}
.re-contact-inner {
  padding-right: 8rem;
}
.re-contact-inner .form-control {
  border-radius: 0.5rem;
  background-color: var(--text-white);
  height: 2.5rem;
}
.re-contact-inner label span {
  color: #E73127;
}
.form-control:focus {
  box-shadow: none;
}
/* Statistics section */
.re-section-statistics {
  position: relative;
  width: 100%;
  height: 360px;
  background: url(../img/texnikum_1.jpg) center/cover no-repeat;
  display: flex;
  align-items: center;
  background-attachment: fixed;
}
.re-section-statistics::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 1;
}
.re-section-statistics > * {
  position: relative;
  z-index: 2;
}
.re-statistics-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.re-statistics-item {
  text-align: center;
}
.re-statistics-item img {
  width: auto;
  height: 55px;
  max-width: 64px;
}
.re-statistics-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.re-statistics-info h1 {
  font-size: 3.2rem;
  line-height: 3rem;
  color: var(--text-white);
  margin: 1rem 0;
}
.re-statistics-item span {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--text-white);
}
/* partners section */
.re-partners-slider .slick-arrow {
  top: 40%;
  transform: translateY(-50%);
  z-index: 9;
  position: absolute;
  border: 0;
  transition: all 300ms;
  background-color: var(--main-color);
  border-radius: 3.125rem;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.re-partners-slider .slick-next {
  right: -1rem;
}
.re-partners-slider .slick-prev {
  left: -1rem;
}
.re-partners-slider .re-partner-item {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  position: relative;
  margin-bottom: 1rem;
}
.re-partner-item::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.re-partner-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
}
.re-partner-title {
  font-size: 0.7rem;
  line-height: 1rem;
  font-weight: 400;
  text-align: center;
  height: 48px;
  overflow: hidden;
}
.re-partner-brand-item-wrapper {
  padding: 0.625rem;
}
/* footer */
footer {
  background-color: var(--main-color);
}
.re-footer-container {
  padding: 5rem 0;
  border-bottom: 1px solid var(--text-white);
  display: flex;
  justify-content: space-between;
}
.re-footer-logo {
  height: 6.125rem;
  width: auto;
}
.re-footer-info {
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--text-white);
  margin-bottom: 1rem;
}
.re-footer-info:last-child {
  margin-bottom: 0;
}
.re-footer-ic {
  border-radius: 50%;
  border: 1px solid var(--text-white);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.re-footer-socials {
  display: flex;
  justify-content: space-between;
}
.re-footer-label {
  font-size: 1.125rem;
  color: var(--text-white);
}
.re-phone,
.re-email {
  margin-bottom: 1rem;
}
.re-phone a {
  font-size: 1.875rem;
  color: var(--text-white);
  font-weight: 500;
}
.re-email a {
  font-size: 1.3rem;
  color: var(--text-white);
}
.re-footer-logo-wrp {
  background-color: var(--text-white);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.re-footer-group .re-footer-label {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  text-align: center;
}
.re-footer-group .nav-item {
  color: var(--text-white);
  margin-bottom: 0.8rem;
  text-align: center;
}
.re-footer-group-right {
  text-align: end;
}
.re-footer-desc {
  width: 20rem;
  color: var(--text-white);
  font-size: 0.9rem;
}
.re-footer-info .re-footer-ic {
  margin-right: 0;
  margin-left: 1.25rem;
}
.re-footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-white);
  padding: 1.375rem 0;
}
.re-footer-developer a {
  color: var(--text-white);
}
.re-footer-ic-sm {
  display: none;
}
.re-footer-ic:hover {
  background-color: var(--active-color);
}
.slick-arrow:hover {
  background-color: var(--active-color);
}
/* Menu modal */
#menuModal .modal-body  {
  background-color: var(--active-color);
}
#menuModal .re-hamburger {
  padding: 0.4rem;
}
#back-top {
  position: fixed;
  display: flex;
  right: 20px;
  bottom: 80px;
  background-color: var(--active-color);
  border-radius: 50%;
  padding: 0.875rem;
  -webkit-transition: 0.7s all cubic-bezier(0.03, 0.88, 0.34, 0.97);
  transition: 0.7s all cubic-bezier(0.03, 0.88, 0.34, 0.97);
  -webkit-box-shadow: 0 5px 18px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 18px 2px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  z-index: 999;
}
#back-top.visible {
  visibility: visible;
  opacity: 0.9;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#back-top.visible:hover {
  opacity: 1;
}
.re-breadcrumb {
  padding: 2rem 0;
}
.re-breadcrumb a {
  color: #74708e;
  white-space: nowrap;
}
.re-breadcrumb a svg {
  margin-left: 8px;
}
.breadcrumb .active {
  color: #171142;
}
/* About */
.re-content {
  width: 100%;
  padding: 15px 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
  min-height: 350px;
}
.re-content-body {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-dark);
}
.re-content-img-wrp {
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  padding: 20px 30px;
}
.re-content-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 0;
  text-align: center;
}
.re-content-img-item {
  margin-top: 20px;
  padding: 15px 25px;
  background-color: #FBFBFB;
}
.re-content-img {
  width: 100%;
  height: 200px;
  margin-bottom: 1.5rem;
}
.re-content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.re-content-img-desc {
  font-size: 15px;
  line-height: 135.9%;
  color: var(--text-dark);
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: bold;
}
.re-university-name {
  font-size: 3rem;
  color: var(--main-color);
}
.re-university-desc {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.re-university-fac {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}
.re-university-doc {
  display: flex;
  margin-top: 1rem;
}
.re-doc-item {
  background-color: #e1fae9;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 268px;
  display: flex;
  margin-right: 24px;
}
.re-doc-img {
  border-radius: 8px;
  border: 1px solid var(--active-color);
  background: var(--text-white);
  padding: 10px;
  display: flex;
  margin-right: 12px;
}
.re-doc-item a {
  margin: auto 0;
  font-weight: 400;
  color: var(--main-color);
}